<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.windows.forms jitDebugging="true"/>-->
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="enciclopedia_canina_store.Properties.Settings.Can_StoreConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Can_Store;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
            providerName="System.Data.SqlClient" />
        <add name="enciclopedia_canina_store.Properties.Settings.Can_StoreConnectionString1"
            connectionString="Data Source=serverjorge.database.windows.net;Initial Catalog=Can_Store;User ID=jorge;Password=Dzafiro@97;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="enciclopedia_canina_store.Properties.Settings.Can_StoreConnectionString2"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Can_Store;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
